extends layout

block title
	title Product Catalog - Product Details

block content
	each info, i in product
		.text-left(style = "float:left")
			if info.pimg != ""
				img(src = "#{info.pimg}" class = "img-rounded")
			else
				img(src = "/local/images/image_placeholder.jpg" class = "img-rounded")

			.h3 #{info.pname}

			.dl #{info.pdesc}

			.h5
				u Review
				.review
					each i in product_review
						if i != 0
							span(class = "glyphicon glyphicon-star")
						if i == 0
							span(class = "glyphicon glyphicon-star-empty")
					


		.comments
			.comment-block
				each comment, i in comments
					p #{comment.comment}
					sub  - #{comment.created}
					hr
			form(action = "/viewproduct/#{info.pid}", method = "post", class = "form-inline")
				.form-group
					label(for = "txtComment") Comment &nbsp;
					textarea(class = "form-control", name = "txtComment", id = "txtComment", rows = 4, cols = 50, data-pid = "#{info.pid}")
				input(type = "submit", class = "btn btn-primary", name = "btnComment", id = "btnComment", disabled)
				.alert.alert-success(style = "display:none")
					span(class = "glyphicon glyphicon-ok")
					i &nbsp; Comment added!
				.alert.alert-warning(style = "display:none")
					span(class = "glyphicon glyphicon-remove")
					i &nbsp; Comment not added. Try again!
